* {
  box-sizing: border-box;
  font-family: "Arial",sans-serif;
}

body {
  padding-top: 0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 2em 2em 17em;
  font-size: 16px;
  background-color: black;
  color: #d3d3d3;
}

table {
  margin-bottom: 1em;
}

h1 {
  font-size: 48.0pt;
  margin-top: 0.75em;
  margin-bottom: 0em;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 24.0pt;
  font-weight: bold;
  color: #4472C4;
}

/* h3 {
  font-size: 24.0pt;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #4472C4;
} */

.toc {
  position: fixed;
  background: black;
  left: 0em;
  top: 0em;
  padding: 1em;
  width: 14em;
  height: 100vh;
  line-height: 2;
  overflow-y: auto;
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ul ul {
  padding-left: 2em;
}

.toc li a {
  display: inline-block;
  color: #d3d3d3;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a {
  color: rgb(96, 96, 96);
  transform: translate(5px);
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toc-marker path {
  transition: all 0.3s ease;
}

.contents {
  padding: 1em;
  /* max-width: 800px; */
  font-size: 1.2em;
  font-family: "Frank Ruhl Libre", sans-serif;
}

.contents img {
  max-width: 100%;
}

.contents .code-block {
  white-space: pre;
  overflow: auto;
  max-width: 100%;
}

.contents .code-block code {
  display: block;
  background-color: #f9f9f9;
  padding: 10px;
}

.contents .code-inline {
  background-color: #f9f9f9;
  padding: 4px;
}

/* .contents h2,
.contents h3 {
  padding-top: 1em;
} */

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
