* {
  box-sizing: border-box;
  font-family: Arial,sans-serif;
  font-size:1em;
}

body {
  margin-top: 0;
  margin-right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 1.59em 2em 17em;
  background-color: black;
  color: #d3d3d3;
}

.light-mode {
  background-color: white;
  color: black;

  .mode-button {
    background-color: black;
    color: white;
  }  

  b {
    color: black;
  }

  .toc {
    background-color: white;
  }

  .toc li a {
    color: black;
  }
  
  .toc li.visible > a {
    color: gray;
  }

  td, th {
    border: 1px solid black;
  }
}

.mode-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

b {
  color: #e3e3e3;
}

.d2dfgtitle {
  margin-bottom: -50px;
}

.fork {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3;
}

p {
  margin:0;
}

table {
  margin: 0.5em 0 1em 0;
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
}

td {
  padding: 0 5.4pt 0 5.4pt;
}

ol {
  margin-bottom:0;
}

ul {
  margin-bottom:0;
}

h1 {
  font-size: 72pt;
  margin-top: 0.25em;
  margin-bottom: 0em;
}

h2 {
  font-size: 48pt;
  margin-top: 0.75em;
  margin-bottom: 0em;
  color: #A59263;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 24pt;
  font-weight: bold;
  color: #4472C4;
}

.toc {
  position: fixed;
  background-color: black;
  left: 0em;
  top: 0em;
  padding: 1em;
  width: 14em;
  height: 100vh;
  line-height: 2;
  overflow-y: auto;
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ul ul {
  padding-left: 2em;
}

.toc li a {
  display: inline-block;
  color: #d3d3d3;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a {
  color: rgb(96, 96, 96);
  transform: translate(5px);
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toc-marker path {
  transition: all 0.3s ease;
}